/* 
* tablets, 600px and up
*/
@media only screen and (min-width: 600px) {
    .wrap {
        &:before{
            height: 60vh;
        }
    }
}

/*
* Small Size Mobile
*/
@media screen and (max-height: 740px) {

    /*
    *  Heavy Text
    * Metal Texture
    */
    .heavy-text {
        font-size: 3.5rem;
    }

    /*
    * Box Customized slide with preview
    */

    .box-customize-preview {
        .customized-box-preview {
            .customized-box-preview-inner {
                max-width: 12rem;
                padding: 2rem 1rem;

                img {
                    max-height: 8rem;
                }
            }
        }
    }

    /*
    * .spin-wheel-winner-info
    */
    .spin-wheel-winner-info {
        
    }

}