/*
Combind
*/
.root-thirteen, 
.root-fourteen,
.root-fifteen {

    &::before {
        background-image: url(../images/header-ribbon.png);
    }

    .app-body {

    }

}

/*
Root 13
Page
*/
.root-thirteen {
    background-image: url(../images/BG-13.png);

}

/*
Root 14
Page
*/
.root-fourteen {
    background-image: url(../images/BG-14.png);
}

/*
Root 15
Page
*/
.root-fifteen {
    background-image: url(../images/BG-15.png);
}
