.rypt-five {
    background-image: url(../images/BG-rypt-1.png);
    
    &::before {
        background-image: url(../images/header-ribbon.png);
    }

    header {
        height: 10%;
    }

    .app-body {
        padding: 0;
        height: 75%;
        
        .body-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.3rem;
            margin-top: 5vh;

            .box-customize-preview {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }

        .cta {
            button {
                width: 90%;
            }
        }
    }

    footer {
        height: 15%;
    }

}


@media screen and (max-height: 740px) {

    .rypt-five {

    }

}