.rypt-eight {
    background-image: url(../images/BG-rypt-1.png);
    
    &::before {
        background-image: url(../images/header-ribbon.png);
    }

    header {
        height: 10%;
        .medium-bold-text {
            font-size: 2rem;
        }
    }

    .app-body {
        height: 80%;
        
        .body-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.3rem;
            margin-top: 5vh;

            .spin-wheel-preview {
                max-width: 80%;
                margin: 0 auto 2rem;

                img {
                    max-width: 100%;
                }
            }
        }

        .cta {
            button {
                width: 90%;
            }
        }
    }

}


@media screen and (max-height: 740px) {

    .rypt-eight {
        .app-body {
            .body-content {
                .spin-wheel-preview {
                    margin: 0 auto 1rem;

                    img {
                        max-height: 220px;
                    }
                }
            }
        }
    }

}