.rypt-four {
    background-image: url(../images/BG-rypt-1.png);

    &::before {
        background-image: url(../images/header-ribbon.png);
    }

    header {
        height: 10%;
    }

    .app-body {
        padding: 0;
        height: 80%;

        .body-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.3rem;
            margin-top: 5vh;

            #dual-slider {
                .slide-preview {
                    margin-bottom: 1.25rem;
                    .item-inner {
                        max-width:18rem;
                        margin: 0px auto;
                        display: flex;
                        justify-content: center;
                        background-color: #ffffff3d;
                        padding: 3.5rem 1.5rem;
                        border-radius: 3rem;

                        img {
                            max-height: 12rem;
                        }
                    }
                }

                .slide-thumb {
                    .slick-track {
                        display: flex !important;
                        align-items: stretch;
                    }

                    .slick-slide {
                        height: inherit !important;
                        align-self: baseline;
                        gap:20px;
                    }

                    .item-inner {
                        display: flex;
                        justify-content: center;
                        position: relative;

                        &:before {
                            content: " ";
                            background-color: $color-white;
                            max-width: 80%;
                            height: 3.5rem;
                            opacity: 0.3;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                            border-radius: 1rem;
                            margin: 0px auto;
                        }

                        img {
                            width:auto;
                            height: 6rem;
                        }
                    }

                    .slick-current {

                        .item-inner {

                            &:before {
                                height: 100%;
                            }
                        }
                    }

                    .slick-dots {
                        text-align: center;
                        margin-top: 0.8rem;
                        li {
                            display: inline-block;
                            margin: 0 0.4rem;
                            button {
                                border: 0;
                                background-color:#666666;
                                text-indent: -9999px;
                                width: 0.5rem;
                                height: 0.5rem;
                                border-radius: 100%;
                            }

                            &.slick-active {
                                button {
                                    background-color: $color-red;
                                }
                            }
                        }
                    }
                }

            }
        }
    
        .cta {
            button {
                width: 90%;
            }
        }
    }

    footer {
        height: 10%;
    }

}


@media screen and (max-height: 667px) {
    .rypt-four{
        .app-body {
            .body-content {
                #dual-slider {
                    .slide-preview {
                        margin-bottom: 1rem;

                        .item-inner {
                            max-width: 12rem;
                            padding: 2rem 1rem;

                            img {
                                max-height: 8rem;
                            }
                        }
                    }

                    .slide-thumb {
                        .item {
                            .item-inner {
                                &::before {
                                    height: 3.5rem;
                                }

                                img {
                                    // max-width: 4.5rem;
                                }
                            }

                            &.slick-center .item-inner {
                                &::before {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    
}