/*
* Variables
*/
$color-white: #ffffff;
$color-red: #D63231;
$color-black: #000000;
$color-gray: #C8C7CC;
$color-green: #4CD964;

$bg-gray-transparent: hsla(0, 0%, 100%, .239);

$font-hackney: 'hackney', sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-barlow: "Barlow Condensed", sans-serif;
$font-inter: "Inter", sans-serif; //arial


/*
Local Fonts
*/
@font-face {
    font-family: 'hackney';
    src: url('../fonts/hackneypersonaluseonly-webfont.woff2') format('woff2'),
        url('../fonts/hackneypersonaluseonly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: $color-white;
    background-color: $color-black;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrap {
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    // background-attachment: fixed;
    font-size: 16px;
    z-index: 0;

    header {
        height: 15%;
        padding: 3rem 1.5rem 1rem;
    }

    .app-body {
        height: 75%;
    }

    footer {
        height: 10%;
    }

    .overlay {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $color-black;
        opacity: 0.4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
    }

    &::before {
        content: " ";
        height: 250px;
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .app-body {
        padding: 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cta {
            text-align: center;
    
            button {
                background-color: $color-red;
                font-family: $font-inter;
                border: 0;
                color: $color-white;
                font-size: 1rem;
                width: 100%;
                padding: 0.8rem 0;
                border-radius: 50px;
            }
        }
    }

    footer {
        display: flex;
        align-items: end;

        .smoking-warning {
            width: 100%;
            text-align: center;
            background-color: $color-white;
            color: $color-black;
            padding: 0.5rem 0;
        }

        .smoking-warning h5 {
            font-family: $font-inter;
            font-size: 1.25rem;
        }
    }
}

.heavy-text {
    font-family: $font-hackney;
    font-size: 4.06rem;
    font-weight: normal;
    line-height: 1;
    color: $color-white;
    margin: 0 1.5rem 2rem;
}

.medium-bold-text {
    font-family: $font-barlow;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.35rem;
}

/*
* Green Checkbox
*/
.green-checkbox {
    display: flex;
    justify-content: left;
    .round {
        position: relative;

        label {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 20px;
            width: 20px;
            display: block;

            &:after {
                border: 2px solid #fff;
                border-right: none;
                border-top: none;
                content: "";
                height: 6px;
                left: 5px;
                opacity: 0;
                position: absolute;
                top: 6px;
                transform: rotate(-45deg);
                width: 10px;
            }
        }

        input[type="checkbox"] {
            visibility: hidden;
            display: none;
            opacity: 0;

            &:checked+label {
                background-color: $color-green;
                border-color: $color-green;

                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

/*
* Game Steps
*/
.game-steps {
    padding: 0 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .left-arrow {
        position: absolute;
        left: 5%;
        top: -4px;
    }

    .progress-bar {
        background-color: $color-white;
        height: 0.4rem;
        width: 10rem;
        border-radius: 0.5rem;
        position: relative;

        span {
            position: absolute;
            background-color: $color-red;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
        }
    }
}

/*
* Box Customized slide with preview
*/
.box-customize-preview {
    .customized-box-preview {
        margin-bottom: 1rem;

        .customized-box-preview-inner {
            max-width: 18rem;
            padding: 3.5rem 1.5rem;
            background-color: hsla(0, 0%, 100%, .239);
            border-radius: 3rem;
            display: flex;
            justify-content: center;
            margin: 0px auto;
            
            &.bg-preview {
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            img {
                max-height: 12rem;
            }

        }
    }

    .customized-addons-slide {
        .item {
            margin: 0 0.5rem;

            .item-inner {
                padding: 1.5rem 1rem;
                background-color: hsla(0, 0%, 100%, .239);
                border-radius: 1.5rem;
                display: flex;
                justify-content: center;

                .box-title {
                    .title {
                        font-family: $font-opensans;
                        font-size: 0.8rem;
                        font-weight: 700;
                        margin-right: 0.8rem;
                        text-transform: uppercase;
                        align-content: center;
                    }
                }
            }
        }

        .slick-dots {
            text-align: center;
            margin-top: 0.8rem;

            li {
                display: inline-block;
                margin: 0 0.4rem;

                button {
                    border: 0;
                    background-color: #666666;
                    text-indent: -9999px;
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 100%;
                }

                &.slick-active {
                    button {
                        background-color: $color-red;
                    }
                }
            }
        }
    }
}

/*
* .spin-wheel-winner-info
*/
.input-group-icon {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-group-wrap {
        width: 90%;
        margin: 0px auto;

        label {
            width: 100%;
            position: relative;

            &::before {
                content: " ";
                background-image: url(../images/icon-map-marker.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                width: 1rem;
                height: 1rem;
                position: absolute;
                top: 50%;
                margin-top: -0.5rem;
                left: 1rem;
            }

            &::after {
                content: " ";
                background-image: url(../images/icon-arrow-down.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 50%;
                margin-top: -1rem;
                right: 1rem;
            }

            &.winner-info-unique-code {
                
                &::before {
                    background-image: url(../images/icon-user.svg);
                }

                &::after {
                    background-image: url(../images/icon-open-box.png);
                }
            }

            input, 
            select {
                width: 100%;
                outline: none;
                border: 0;
                border-radius: 4rem;
                padding: 0.9rem 3rem;
                font-size: 1rem;

                &::placeholder {
                    color: $color-gray;;
                    opacity: 1;
                    /* Firefox */
                }
            
                &::-ms-input-placeholder {
                    /* Edge 12 -18 */
                    color: $color-gray;;
                }
            }

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: "";
                
                &::-ms-expand {
                    display: none;
                }

                &:invalid option:not(:disabled) {
                    color: $color-black;
                }

                &:invalid {
                    color: $color-gray;
                }
            }
            
        }

        .input-group-warning {
            font-family: $font-opensans;
            font-size: 0.75rem;
            font-weight: 400;
            margin-top: 0.4rem;
            margin-left: 2rem;

            span {
                position: relative;
                

                &::before {
                    content: " ";
                    background-image: url(../images/icon-input-warning.svg);
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 0.8rem;
                    height: 0.8rem;
                    position: absolute;
                    left: -1rem;
                    top:50%;
                    bottom: 0;
                    margin-top: -0.4rem;
                    

                }
            }
        }

    }
}


/*
Css Import
*/
@import "root-13-14-15.scss";
@import "rypt-1.scss";
@import "rypt-2.scss";
@import "rypt-3.scss";
@import "rypt-4.scss";
@import "rypt-5.scss";
@import "rypt-6.scss";
@import "rypt-7.scss";
@import "rypt-8.scss";
@import "rypt-9.scss";
@import "rypt-10.scss";
@import "rypt-962.scss";
@import "rypt-11.scss";
@import "rypt-12.scss";
@import "sym-4.scss";
@import "sym-5.scss";
@import "sym-6.scss";
@import "sym-7.scss";
@import "sym-8.scss";
@import "sym-9.scss";
@import "sym-10.scss";
@import "sym-11.scss";
@import "sym-963.scss";
@import "sym-12.scss";
@import "sym-13.scss";
@import "venue-4.scss";
@import "venue-5.scss";
@import "venue-6.scss";
@import "venue-7.scss";
@import "venue-8.scss";
@import "venue-9.scss";
@import "venue-10.scss";
@import "venue-11.scss";
@import "venue-964.scss";
@import "venue-12.scss";
@import "venue-13.scss";


@import "responsive.scss"


